p.description { 
    /* margin:0px; */
    font-family: sans-serif;
    font-weight: normal;
    font-size:1.4vh;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
   -webkit-box-orient: vertical;
   padding-left: 5%;
    padding-right: 5%;
    /* background-color: brown; */
  }

  p.title { 
    /* margin:0px; */
    font-family: sans-serif;
    font-weight: Bold;
    font-size:2vh;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 0;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
    
    /* width: 100%; */
    
    
    /* background-color: brown; */
  }